* {
  box-sizing: border-box;
}

html,
body .wrapper {
  height: 100%;
}

body {
  display: grid;
  height: 100%;
  place-items: left;
  position: relative;
  border-radius: 20px;
  background: #e8edf0;
  box-shadow: 0px 0px 28px #00000026;
  background-size: cover;
}



.Titulo1 {
  color: #0e2c48;
  position: absolute;
  top: 48px;
  left: 50%;
  transform: translateX(-50%);
  font-family: Montserrat;
  font-weight: bold;
  font-size: 82px;
  text-align: center;
}

.Titulo2 {
  color: #70869b;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-family: Montserrat;
  font-weight: 600;
  font-size: 57px;
  text-align: center;
}

.Subfondo {
  padding: 95px;
  position: relative;
  background: #E8EDF0;
}

.Cuadrado {
  padding: 455px;
  position: relative;
  border-radius: 9px;
  background: #f4f9fd;
  box-shadow: 0px 0px 12px #00000026;
}

.SubCuadrado {
  width: 440px;
  height: 100px;
  background: #ffffff;
  position: absolute;
  top: 6%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.Subtitulo1 {
  color: rgba(15, 45, 72, 1);
  position: absolute;
  top: 1%;
  left: 50%;
  transform: translate(-50%, 0);
  font-family: Montserrat;
  font-weight: 600;
  font-size: 46px;
  opacity: 1;
  text-align: center;
}

.Subtitulo2 {
  color: rgba(112, 134, 155, 1);
  position: absolute;
  top: 7%;
  left: 50%;
  transform: translateX(-50%);
  font-family: Montserrat;
  font-weight: 500;
  font-size: 28px;
  opacity: 1;
  text-align: center;
}

.Ejercicios {
  width: calc(100% - 48px); 
  height: calc(100% - 128px); 
  background: rgba(184, 200, 214, 1);
  position: absolute;
  top: 104px; 
  left: 12px; 
  right: 12px;
  border-radius: 6px;
  overflow: hidden;
  margin: 12px; 
  margin: 12px; 
}


.RetroA {
  display: block;
  width: 100%;
  padding: 10px 20px;
  text-align: start;
  font-size: 16px;
  font-weight: bold;
  color: #0e2c48;
  background-color: #F4F9FD;
  border: none;
  border-radius: 5px;
  margin-bottom: 5px;
  text-decoration: none;
}

.RetroA:hover {
  background-color: #B8C8D6;
}

.RetroA.active {
  background-color: #F4F9FD;
}

.RetroA:active {
  background-color: #1d456b;
}

.Close-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #0e2c48;
  background-color: #B8C8D6;
  border: none;
}

.Close-button:hover {
  background-color: #E8EDF0;
  cursor: pointer;
}

.Sidebutton {
  display: inline-block;
  padding: 10px 20px;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  background-color: #B8C8D6;
  border: none;
}

.Sidebutton:hover {
  background-color: #E8EDF0;
  cursor: pointer;
}

input[type="text"],
textarea,
input[type="date"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-control{
  font-family: Montserrat;
  font-weight: Bold;
}
