* {
    box-sizing: border-box;
  }

html,
body .wrapper {
    height: 100%;
}

  body {
    display: grid;
    height: 100%;
    place-items: left;
    position: relative;
    border-radius: 20px;
    background: #e8edf0;
    box-shadow: 0px 0px 28px #00000026;
    background-size: cover;
  }

  .Titulo {
    width: 723px;
    height: 64px;
    background: #E8EDF0;
    position: absolute;
    top: 17px;
    left: 22px;
  }
  .Titulo1 {
    color: #0e2c48;
    position: absolute;
    top: 24px;
    left: 11px;
    font-family: Montserrat;
    font-weight: Bold;
    font-size: 42px;
    text-align: left;
  }

  .Titulo2 {
    color: #70869b;
    position: absolute;
    top: 0px;
    left: 1px;
    font-family: Montserrat;
    font-weight: SemiBold;
    font-size: 27px;
    text-align: left;
  }
  
  .Subfondo {
    padding: 95px;
    position: relative;
    background: #E8EDF0;
  }

  .Cuadrado {
    padding: 455px;
    position: relative;
    border-radius: 9px;
    background: #f4f9fd;
    box-shadow: 0px 0px 12px #00000026;
  }

  .SubCuadrado {
    width: 440px;
    height: 90px;
    background: rgba(255,255,255,1);
    position: absolute;
    top: 4px;
    left: 9px;
  }
  
  .Subtitulo1 {
    width: 80px;
    color: rgba(15,45,72,1);
    position: absolute;
    top: 9px;
    left: 109px;
    font-family: Montserrat;
    font-weight: SemiBold;
    font-size: 46px;
    opacity: 1;
    text-align: left;
  }

  .Subtitulo2 {
    width: 71px;
    color: rgba(112,134,155,1);
    position: absolute;
    top: 60px;
    left: 147px;
    font-family: Montserrat;
    font-weight: Medium;
    font-size: 28px;
    opacity: 1;
    text-align: left;
  }

  .Ejercicios {
    width: calc(100% - 48px); 
    height: calc(100% - 128px); 
    background: rgba(184, 200, 214, 1);
    position: absolute;
    top: 104px; 
    left: 12px; 
    right: 12px;
    border-radius: 6px;
    overflow: hidden;
    margin: 12px; 
  }
  
  .Ej1 {
    width: 55px;
    color: rgba(15,45,72,1);
    position: absolute;
    top: 5px;
    left: 20px;
    font-family: Montserrat;
    font-weight: SemiBold;
    font-size: 10px;
    opacity: 1;
    text-align: left;
  }

  .Icono1 {
    width: 7px;
    height: 8px;
    background: rgba(238,244,249,1);
    opacity: 1;
    position: absolute;
    top: 8px;
    left: 7px;
    border: 1.349189281463623px solid rgba(125,144,162,1);
  }

  .Det1 {
    width: 46px;
    color: rgba(15,45,72,1);
    position: absolute;
    top: 37px;
    left: 48px;
    font-family: Montserrat;
    font-weight: SemiBold;
    font-size: 10px;
    opacity: 1;
    text-align: left;
  }
  
  .Ej2 {
    width: 57px;
    color: rgba(15,45,72,1);
    position: absolute;
    top: 71px;
    left: 20px;
    font-family: Montserrat;
    font-weight: SemiBold;
    font-size: 10px;
    opacity: 1;
    text-align: left;
  }

  .Icono2 {
    width: 7px;
    height: 8px;
    background: rgba(238,244,249,1);
    opacity: 1;
    position: absolute;
    top: 74px;
    left: 7px;
    border: 1.3491892
    81463623px solid rgba(125,144,162,1);
  }

  .Det2 {
    width: 46px;
    color: rgba(15,45,72,1);
    position: absolute;
    top: 103px;
    left: 48px;
    font-family: Montserrat;
    font-weight: SemiBold;
    font-size: 10px;
    opacity: 1;
    text-align: left;
  }
  
  .Ej3 {
    width: 57px;
    color: rgba(15,45,72,1);
    position: absolute;
    top: 140px;
    left: 20px;
    font-family: Montserrat;
    font-weight: SemiBold;
    font-size: 10px;
    opacity: 1;
    text-align: left;
  }
  .Icono3 {
    width: 7px;
    height: 8px;
    background: rgba(238,244,249,1);
    opacity: 1;
    position: absolute;
    top: 143px;
    left: 7px;
    border: 1.349189281463623px solid rgba(125,144,162,1);
  }
  .Det3 {
    width: 46px;
    color: rgba(15,45,72,1);
    position: absolute;
    top: 172px;
    left: 48px;
    font-family: Montserrat;
    font-weight: SemiBold;
    font-size: 10px;
    opacity: 1;
    text-align: left;
  }
  
  .Ej4 {
    width: 58px;
    color: rgba(15,45,72,1);
    position: absolute;
    top: 209px;
    left: 20px;
    font-family: Montserrat;
    font-weight: SemiBold;
    font-size: 10px;
    opacity: 1;
    text-align: left;
  }
  .Icono4 {
    width: 7px;
    height: 8px;
    background: rgba(238,244,249,1);
    opacity: 1;
    position: absolute;
    top: 212px;
    left: 7px;
    border: 1.349189281463623px solid rgba(125,144,162,1);
  }

  .Det4 {
    width: 46px;
    color: rgba(15,45,72,1);
    position: absolute;
    top: 241px;
    left: 48px;
    font-family: Montserrat;
    font-weight: SemiBold;
    font-size: 10px;
    opacity: 1;
    text-align: left;
  }
  .ejercicio {
    width: 58px;
    color: rgba(15, 45, 72, 1);
    position: absolute;
    font-family: Montserrat;
    font-weight: SemiBold;
    font-size: 10px;
    opacity: 1;
    text-align: left;
  }
  .detalle {
    width: 46px;
    color: rgba(15, 45, 72, 1);
    position: absolute;
    font-family: Montserrat;
    font-weight: SemiBold;
    font-size: 10px;
    opacity: 1;
    text-align: left;
  }
  
  .RetroA {
    width: 20%;
    height: 10%;
    background: rgba(24,136,239,1);
    opacity: 1;
    position: absolute;
    top: 26%;
    right: 12%;
    border-radius: 9px;
    font-family: Montserrat;
    font-weight: SemiBold;
    font-size: 2vw;
    box-shadow: 0px 0px 7px #0000000f;
    overflow: hidden;
    transition: margin 0.2s;
  }
  
  .RetroA:hover {
    margin: 5px;
  }
  
  .Calif {
    width: 20%;
    height: 10%;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 55%;
    right: 12%;
    border-radius: 9px;
    font-family: Montserrat;
    font-weight: SemiBold;
    font-size: 2vw;
    box-shadow: 0px 0px 7px #0000000f;
    overflow: hidden;
    transition: margin 0.2s;
  }
  
  .Calif:hover {
    margin: 5px;
  }